/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-panther-selfservice-order-progress-block  {
  // border: 0.2rem solid $black;
  margin: 0 0;
  max-width: 740px;
  padding: 1rem 0rem;
  align-content: center;
}

.flex-container{
  display:flex;
}

.pa-progress-bar{
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  height: 2rem;
  min-width: 30rem;
}

.pa-progress-value{
  background-image: url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%23444444" fill-opacity="0.4" fill-rule="evenodd"%3E%3Cpath d="M0 40L40 0H20L0 20M40 40V20L20 40"/%3E%3C/g%3E%3C/svg%3E');
  background-color: #888888;
  width: 0%;
  height: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  transition: width 3s;
}

.pa-progress-value-pct{
  float: right;
  color: white;
  padding-right: 5px;
  line-height: 2rem;
}

.pa-progress-message{
  line-height: 2rem;
  padding-left: 15px;
  color: #ffffff
}

.pa-progress-bar-label{
  margin-right: 10px;
}
