/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-panther-selfservice-conax-block  {
  border: 0.2rem solid $black;
  margin: 0 0;
  max-width: 740px;
  padding: 1rem 0rem;
}
