/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.single-channel{
    margin: 2px;
    float: left;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
 
.mix-channel{
    margin: 2px;
    float: left;
    padding: 2px;
}

.mix-channel-selected{
    margin: 1px;
    float: left;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
}

.multipackets-channel,
.mixpackets-channel{
    margin: 2px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
.multipackets-channel-logo{
    margin: 2px;
    float: left;
}

.channel-selected{
    border-width: 2px;
}