/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 
#subscription-modal-subscribe-button{
  margin-top: 15px;
  margin-bottom: 15px;
}

#debtdue-pay-button{
  margin-top: 15px;
  margin-bottom: 15px;
}