/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-panther-selfservice-bullguard-block  {
  border: 0.2rem solid $black;
  margin: 0 0;
  max-width: 740px;
  padding: 1rem 0rem;
}

.bullguard-order-button{
  margin: 15px;
}

.fsecure-order-button{
  margin: 15px;
}

.fsecure-order-button-mobile{
  margin: 15px;
}