/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.subscription-container  {
}

.subscription-card-product-buy-btn{
    position:relative;
    bottom: 0px;
}
