/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 //@import "../../node_modules/swiper/swiper.scss";
 //@import "../../node_modules/swiper/modules/navigation.scss";


 .carousel-container{
    width: 100%;
}

.card {
    text-align: center;
}

.subscription-product-panel{
    min-height: 400px;
}


.order-product-summary{
    border: none;
    max-width: 200px;
}

#order-accept-terms{
    margin-left: 5px;
}

#subscription-current-product-price{
    margin-bottom: 10px;
}

#subsscription-current-product-cancel-product{
    margin-top: 10px;
}

#subscription-current-product-price-subtext{
    text-align: center;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-wrapper{
    width: 100%;
}

.swiper-slide{
    display: flex;
    width: 350px !important;
    padding: 20px;
}

// .subscription-card-product-image>img{
//     max-width: 300px;
//     width: 100%;
//     height: auto;
// }