/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.basket-item-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.wp-block-cgb-block-panther-selfservice-basket-block{
    display: flex;
    font-size: 16px;
    flex-direction: column;
}

.order-button-container{
    display: flex;
    justify-content: center;
}

.basket-item-remove>button{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.basket-item-name{
    width: 150px;
    text-align: center;
}
.basket-item-normalprice{
    width: 25%;
    text-align: center;
}
.basket-item-discountedprice{
    width: 25%;
    text-align: center;
}
.basket-item-startdate{
    width: 25%;
    text-align: center;
}
.basket-item-quantity{
    width: 25%;
    text-align: center;
}