/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 @import "../../node_modules/bulma/bulma.sass";
 @import "../../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

#forgot-pass-goback,#magiclink-link,#forgot-pass-link,#magiclink-goback {
  text-decoration: none !important;
}

#login_error {
  color:red;
}