/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-panther-selfservice-tickets-block  {
  // border: 0.2rem solid $black;
  // color: $black;
  margin: 0 0;
  max-width: 740px;
  padding: 1rem 0rem;
  align-content: center;
}