/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-panther-selfservice-block2  {
  border: 0.2rem solid $black;
  margin: 0 0;
  max-width: 740px;
  padding: 1rem 0rem;
}
.components-panel__row{
    display: flex;
    margin: 0px;
}
.pa-calendar-number {
    width: 60px;
    padding-right: 10px;
    margin: 0px;
}
.pa-calendar-unit {
    width: 115px; 
    padding-right: 100px;
    margin: 0px;
}


