/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

// used to hide product rows until customer clicked
.product {
  // display: none;
  // border: none;
  // background-color: rgb(228, 228, 228);
}

.product.chosenRow {
 font-weight: bold;
 font-size: 16px;
}

.header {
  display: table-row;
}

.foldIcon {
  font-size: 24px;
}