/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-panther-selfservice-block  {
  border: 0.2rem solid $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 1rem;
}

.attachbutton{
  width: 300px;
}
#feedback{
  position: fixed;
  bottom: 30px;
  right: 10px;
}
