/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;
$tooltip-max-width: 15rem;


.center, .center-column, .left, .right, .top, .bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.wp-block-cgb-block-panther-selfservice-addon-product-block  {
	// border: 0.2rem solid $black;
	margin: 0 0;
	max-width: 740px;
	padding: 1rem 0rem;
	align-content: center;
  }

  .wp-block-cgb-block-panther-selfservice-block  {
	margin: 0 auto;
	max-width: 740px;
	padding: 1rem;
	align-content: center;
  }

  .wp-block-cgb-block-panther-selfservice-block2  {
	// border: 0.2rem solid $black;
	margin: 0 0;
	max-width: 740px;
	padding: 1rem 0rem;
	align-content: center;
  }

  .wp-block-cgb-block-panther-selfservice-block3  {
	// border: 0.2rem solid $black;
	margin: 0 auto;
	padding: 1rem;
	align-content: center;
  }

  .wp-block-cgb-block-panther-selfservice-block4  {
	// border: 0.2rem solid $black;
	margin: 0 auto;
	padding: 1rem;
	align-content: center;
  }

  .table { white-space: nowrap; }

/*! debug.css | MIT License | zaydek.github.com/debug.css */


/* comment out when debug css not needed */
// *:not(path):not(g) {
// 	color:                    hsla(210, 100%, 100%, 0.9) !important;
// 	background:               hsla(210, 100%,  50%, 0.5) !important;
// 	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

// 	box-shadow: none !important;
// }
