/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-panther-selfservice-wifi-block  {
  // border: 0.2rem solid $black;
  margin: 0 0;
  max-width: 740px;
  padding: 1rem 0rem;
  align-content: center;
}

#ap_wifi_toggle_advanced{
    padding-left:10px;
    cursor: pointer;
}